.text-inputs {
  border: 1px solid #cecccd;
  font-size: $font-size-large;
  font-weight: 300;
  height: 50px;
  padding: $s-size;
}

.select {
  @extend .text-inputs;
}

.textarea{
  @extend .text-inputs;
  height: 10rem;
}